
  <div class="example-container-wrapper ">
    <div class="example-container">
      <h2>To do</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList,inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{item}}
          <span (click)="delete()" class="material-icons delete">delete</span>
          <span class="material-icons edit"><mat-icon color="primary">edit</mat-icon></span>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>In progress</h2>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[doneList,todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
          {{item.title}}
          <span (click)="delete()" class="material-icons delete">delete</span>
          <span class="material-icons edit"><mat-icon color="primary">edit</mat-icon></span>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList,inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{item.title}}
          <span (click)="delete()" class="material-icons delete">delete</span>
        </div>
      </div>
    </div>
  </div>

