.example-container-wrapper {
  display: flex;
  justify-content: center; /* Center the containers horizontally */
  flex-wrap: wrap; /* Allow containers to wrap to the next line on smaller screens */
}

.example-container {
  flex: 1;
  width: 300px;
  max-width: 100%;
  margin: 29px;
  vertical-align: top;
  display: inline-block; /* Display the containers inline */
  box-sizing: border-box; /* Include padding and border in the total width */
}
.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box .delete {
  color: rgb(255, 0, 0);
  cursor: pointer;
  margin-left: auto;
}

.edit {
  color: rgb(84, 84, 84);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.edit:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.edit:active {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.delete:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.delete:active {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Media Queries for responsiveness */

@media (max-width: 992px) {
  .example-container {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .example-container {
    flex-basis: 100%;
    margin: 29px 0;
    width: calc(100% - 58px); /* Adjust the width to fit the screen size and remove horizontal margin */
  }
}
.success{
  color: green 
}